<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <span class="lstick m-r-20"></span>
                        <img src="assets/images/icon/income.png" alt="Bienvenido" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Entidades sin animo de lucro</h6>
                        <!--  <h2 class="m-t-0">953,000</h2> -->
                    </div>
                </div>
            </div>
        </div>
    </div>