<div class="row">
    <div class="col-lg-12">



        <div class="row animated fadeIn col-12 ">
            <input #input type="text" placeholder="Buscar y enter" class="form-control">
            <a href=""></a>
        </div>


        <div class="row animated fadeIn" *ngIf="cargando">

            <div class="col-sm-12">
                <div class="alert alert-warning text-center">
                    <strong>Cargando</strong>
                    <br>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <br>
                    <span>Espere por favor</span>
                </div>
            </div>
        </div>

        <br>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Colección: tipoEsals</h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>_id</th>
                                    <th>descripcion</th>
                                    <th>usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tipoEsal of tipoEsals">
                                    <td class="w70">{{tipoEsal._id}}</td>
                                    <td class="w70"> {{tipoEsal.descripcion}}</td>
                                    <td class="w70">{{tipoEsal.usuario._id}}</td>

                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><button class="page-link" href="#">Anterior </button></li>

                                <li class="page-item"><button class="page-link" href="#">Siguiente</button></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>